In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import copy

### data preprocessing & EDA

In [ ]:
df = pd.read_excel(r'醫院.xlsx')

In [ ]:
df = pd.get_dummies(df, columns=['關係別','性別'])

In [ ]:
df

                    員工ID               被保人ID  年齡  關係別_本人  關係別_配偶  性別_1  性別_2
0     G2EC9548DD9324C41D  G2EC9548DD9324C41D  39       1       0     0     1
1     A128D2E625E77D3151  A128D2E625E77D3151  37       1       0     1     0
2     H2EB491500F735632E  H2EB491500F735632E  25       1       0     0     1
3     J2BA996344D73F4115  J2BA996344D73F4115  45       1       0     0     1
4     F248984777D351DDE7  F248984777D351DDE7  42       1       0     0     1
...                  ...                 ...  ..     ...     ...   ...   ...
8407  A24A0787B4C89B8150  A24A0787B4C89B8150  23       1       0     0     1
8408  F29306F39B5AB0C316  F29306F39B5AB0C316  38       1       0     0     1
8409  K22687CC13657662CB  K22687CC13657662CB  37       1       0     0     1
8410  F2E549DDE150612569  F2E549DDE150612569  23       1       0     0     1
8411  N215C6C37D3C34D8D0  N215C6C37D3C34D8D0  66       1       0     0     1

[8412 rows x 7 columns]

In [ ]:
df_woid = df.drop(['員工ID','被保人ID'], axis=1)

In [ ]:
df_woid

      年齡  關係別_本人  關係別_配偶  性別_1  性別_2
0     39       1       0     0     1
1     37       1       0     1     0
2     25       1       0     0     1
3     45       1       0     0     1
4     42       1       0     0     1
...   ..     ...     ...   ...   ...
8407  23       1       0     0     1
8408  38       1       0     0     1
8409  37       1       0     0     1
8410  23       1       0     0     1
8411  66       1       0     0     1

[8412 rows x 5 columns]

#### summary

In [ ]:
df.describe()

                年齡       關係別_本人       關係別_配偶         性別_1         性別_2
count  8412.000000  8412.000000  8412.000000  8412.000000  8412.000000
mean     38.611983     0.995602     0.004398     0.233238     0.766762
std      12.923522     0.066179     0.066179     0.422918     0.422918
min       4.000000     0.000000     0.000000     0.000000     0.000000
25%      27.000000     1.000000     0.000000     0.000000     1.000000
50%      37.000000     1.000000     0.000000     0.000000     1.000000
75%      48.000000     1.000000     0.000000     0.000000     1.000000
max      82.000000     1.000000     1.000000     1.000000     1.000000

#### correlation of relationship, years, and sex

In [ ]:
data = df_woid.to_numpy()

In [ ]:
data

array([[39,  1,  0,  0,  1],
       [37,  1,  0,  1,  0],
       [25,  1,  0,  0,  1],
       ...,
       [37,  1,  0,  0,  1],
       [23,  1,  0,  0,  1],
       [66,  1,  0,  0,  1]], dtype=int64)

In [ ]:
np.corrcoef(data.T)

array([[ 1.        , -0.13016462,  0.13016462,  0.1399857 , -0.1399857 ],
       [-0.13016462,  1.        , -1.        , -0.09502683,  0.09502683],
       [ 0.13016462, -1.        ,  1.        ,  0.09502683, -0.09502683],
       [ 0.1399857 , -0.09502683,  0.09502683,  1.        , -1.        ],
       [-0.1399857 ,  0.09502683, -0.09502683, -1.        ,  1.        ]])

### modeling or clustering

#### logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression

#### k means

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters = 3)

In [ ]:
kmeans.fit(df_woid)

KMeans(n_clusters=3)

In [ ]:
labels = kmeans.predict(df_woid)
centroids = kmeans.cluster_centers_

In [ ]:
"""
fig = plt.figure(figsize=(5, 5))

#colors = map(lambda x: colmap[x+1], labels)

plt.scatter(df_woid['年齡'], df_woid['關係別_配偶'], alpha=0.5, edgecolor='k')
for idx, centroid in enumerate(centroids):
    plt.scatter(*centroid)
plt.xlim(0, 100)
plt.ylim(0, 100)
plt.show
"""

"\nfig = plt.figure(figsize=(5, 5))\n\n#colors = map(lambda x: colmap[x+1], labels)\n\nplt.scatter(df_woid['年齡'], df_woid['關係別_配偶'], alpha=0.5, edgecolor='k')\nfor idx, centroid in enumerate(centroids):\n    plt.scatter(*centroid)\nplt.xlim(0, 100)\nplt.ylim(0, 100)\nplt.show\n"