In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import copy

### data preprocessing & EDA

In [ ]:
df = pd.read_excel(r'健管.xlsx')

In [ ]:
df = df.drop(['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8'], axis=1)

In [ ]:
df = pd.get_dummies(df, columns=['關係別','性別'])

In [ ]:
df

,員工ID,被保人ID,年齡,關係別_子女,關係別_本人,關係別_父母,關係別_配偶,性別_1,性別_2
0,A2AC2804FA82870725,A2AC2804FA82870725,32,0,1,0,0,0,1
1,A22694C3894C843E31,A2ACAD4EDF4381D1ED,60,0,0,1,0,0,1
2,K2529CAE2A8E26BC1A,K2529CAE2A8E26BC1A,34,0,1,0,0,0,1
3,A2C83115FC866BDD93,A2C83115FC866BDD93,29,0,1,0,0,0,1
4,O2D4BD76C739700FDB,O2D4BD76C739700FDB,24,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...
246,A25F639D461B18F68E,A25F639D461B18F68E,29,0,1,0,0,0,1
247,D2801FC5B243A74402,D2801FC5B243A74402,27,0,1,0,0,0,1
248,S2577A2534491E41C4,S2577A2534491E41C4,25,0,1,0,0,0,1
249,Q230531C73A76FCC96,Q230531C73A76FCC96,40,0,1,0,0,0,1
250,A2CC34AACCF7BF73FB,A2CC34AACCF7BF73FB,30,0,1,0,0,0,1

In [ ]:
df_woid = df.drop(['員工ID','被保人ID'], axis=1)

In [ ]:
df_woid

     年齡  關係別_子女  關係別_本人  關係別_父母  關係別_配偶  性別_1  性別_2
0    32       0       1       0       0     0     1
1    60       0       0       1       0     0     1
2    34       0       1       0       0     0     1
3    29       0       1       0       0     0     1
4    24       0       1       0       0     0     1
..   ..     ...     ...     ...     ...   ...   ...
246  29       0       1       0       0     0     1
247  27       0       1       0       0     0     1
248  25       0       1       0       0     0     1
249  40       0       1       0       0     0     1
250  30       0       1       0       0     0     1

[251 rows x 7 columns]

#### summary

In [ ]:
df.describe()

,年齡,關係別_子女,關係別_本人,關係別_父母,關係別_配偶,性別_1,性別_2
count,251.000000,251.000000,251.000000,251.000000,251.000000,251.000000,251.000000
mean,38.023904,0.031873,0.900398,0.031873,0.035857,0.111554,0.888446
std,10.504829,0.176012,0.300066,0.176012,0.186304,0.315446,0.315446
min,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,38.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,44.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,68.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### correlation of relationship, years, and sex

In [ ]:
data = df_woid.to_numpy()

In [ ]:
data

array([[32,  0,  1, ...,  0,  0,  1],
       [60,  0,  0, ...,  0,  0,  1],
       [34,  0,  1, ...,  0,  0,  1],
       ...,
       [25,  0,  1, ...,  0,  0,  1],
       [40,  0,  1, ...,  0,  0,  1],
       [30,  0,  1, ...,  0,  0,  1]], dtype=int64)

In [ ]:
np.corrcoef(data.T)

array([[ 1.00000000e+00, -3.11938236e-01, -7.41112742e-02,
         3.80338486e-01,  5.47442277e-02,  3.41982113e-02,
        -3.41982113e-02],
       [-3.11938236e-01,  1.00000000e+00, -5.45539337e-01,
        -3.29218107e-02, -3.49909254e-02, -6.42937032e-02,
         6.42937032e-02],
       [-7.41112742e-02, -5.45539337e-01,  1.00000000e+00,
        -5.45539337e-01, -5.79826135e-01,  7.55945820e-02,
        -7.55945820e-02],
       [ 3.80338486e-01, -3.29218107e-02, -5.45539337e-01,
         1.00000000e+00, -3.49909254e-02, -6.42937032e-02,
         6.42937032e-02],
       [ 5.47442277e-02, -3.49909254e-02, -5.79826135e-01,
        -3.49909254e-02,  1.00000000e+00, -2.71168735e-04,
         2.71168735e-04],
       [ 3.41982113e-02, -6.42937032e-02,  7.55945820e-02,
        -6.42937032e-02, -2.71168735e-04,  1.00000000e+00,
        -1.00000000e+00],
       [-3.41982113e-02,  6.42937032e-02, -7.55945820e-02,
         6.42937032e-02,  2.71168735e-04, -1.00000000e+00,
         1.00000000e+00]])

### modeling or clustering

#### logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression

#### k means

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters = 3)

In [ ]:
kmeans.fit(df_woid)

KMeans(n_clusters=3)

In [ ]:
labels = kmeans.predict(df_woid)
centroids = kmeans.cluster_centers_

In [ ]:
"""
fig = plt.figure(figsize=(5, 5))

#colors = map(lambda x: colmap[x+1], labels)

plt.scatter(df_woid['年齡'], df_woid['關係別_配偶'], alpha=0.5, edgecolor='k')
for idx, centroid in enumerate(centroids):
    plt.scatter(*centroid)
plt.xlim(0, 100)
plt.ylim(0, 100)
plt.show
"""

"\nfig = plt.figure(figsize=(5, 5))\n\n#colors = map(lambda x: colmap[x+1], labels)\n\nplt.scatter(df_woid['年齡'], df_woid['關係別_配偶'], alpha=0.5, edgecolor='k')\nfor idx, centroid in enumerate(centroids):\n    plt.scatter(*centroid)\nplt.xlim(0, 100)\nplt.ylim(0, 100)\nplt.show\n"